:root {
    --vp-home-hero-name-color: #577fe6;
    --vp-c-brand: #577fe6;
    --vp-c-brand-light: #6e91e7;
    --vp-c-brand-lighter: #88a7f5;
    --vp-c-brand-dark: #274080;
    --vp-c-brand-darker: #182955;
}

html.dark {
    --vp-sidebar-bg-color: #08102b; /* sidebar */
    --vp-code-block-bg: #1c2b59;
    --vp-c-bg: #151e38;
    --vp-c-bg-elv: #252529;
    --vp-c-bg-elv-up: #313136;
    --vp-c-bg-elv-down: #1e1e20;
    --vp-c-bg-elv-mute: #313136;
    --vp-c-bg-soft: #212e51;
    --vp-c-bg-soft-up: var(--vp-code-block-bg); /* feature hover */
    --vp-c-bg-soft-down: #0e1c41;
    --vp-c-bg-soft-mute: #313136;

    --vp-c-mute: var(--vp-code-block-bg); /* btn */
    --vp-c-mute-dark: #0c111f; /* hover */
    --vp-c-mute-darker: #3d61be; /* active */

    --vp-c-bg-elv: #274080; /* menu */
    --vp-c-bg-elv-mute: #182955; /* menu btn */

    --vp-c-bg-alt: #273760; /* search */
}

img.VPImage.logo {
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

a.title {
    background-image: url(/logo.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.VPNavBar.has-sidebar img.VPImage.logo {
    transform: scale(1);
}

.VPNavBar.has-sidebar a.title {
    background-image: none;
}

/* navigation to external resources */
a[target="_blank"]:not(.VPSocialLink):not(.VPFeature):after {
    content: ' ';
    width: 18px;
    height: 14px;
    display: inline-block;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    transform: translateY(1px);
    transition: opacity 0.2s linear;
}

a[target="_blank"]:after {
    background-image: url("data: image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(0, 0, 0, .8)' width='14' height='14' viewBox='-12 52 364 364'><path d='M 0 64 L 0 96 L 0 352 L 0 384 L 320 384 L 320 352 L 320 256 L 288 256 L 288 352 L 32 352 L 32 96 L 128 96 L 128 64 L 32 64 L 0 64 z ' /><path d='M 192 64 L 192 96 L 265.18555 96 L 128 233.63672 L 150.91992 256 L 288 118.46875 L 288 192 L 320 192 L 320 86.363281 L 320 64 L 297.08008 64 L 192 64 z ' /></svg>");
}

.dark a[target="_blank"]:after {
    background-image: url("data: image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='rgba(255,255,255,.8)' width='14' height='14' viewBox='-12 52 364 364'><path d='M 0 64 L 0 96 L 0 352 L 0 384 L 320 384 L 320 352 L 320 256 L 288 256 L 288 352 L 32 352 L 32 96 L 128 96 L 128 64 L 32 64 L 0 64 z ' /><path d='M 192 64 L 192 96 L 265.18555 96 L 128 233.63672 L 150.91992 256 L 288 118.46875 L 288 192 L 320 192 L 320 86.363281 L 320 64 L 297.08008 64 L 192 64 z ' /></svg>");
}

a[target="_blank"]:hover:after {
    opacity: 0.6;
}

/* console log visualisation */
.language-terminal,
.language-terminal pre {
    color: rgb(200, 200, 200) !important;
    background-color: #1e1e1e !important;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 24px;
    line-height: 20px;
}
.language-terminal .info {
    color: #199364 !important;
}
.language-terminal .warn {
    color: #e0dc02 !important;
}
.language-terminal .bright {
    color: white !important;
}
.language-terminal .cyan {
    color: #1b839b !important;
}

.cli-invite {
    color: var(--vp-c-text-1);
    font-weight: bold;
}

.cli-path {
    color: #3B78FF;
    font-weight: bold;
}

.cli-header {
    color: var(--vp-c-text-2);
    font-family: consolas;
    background-color: var(--vp-c-bg-alt);
}

.cli-blink {
    animation: cli-blink 1s infinite;
}

@keyframes cli-blink {
    0% {
        opacity: 0
    }

    49% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

/* Atscript syntax highlighting */
.shiki .variable.other.property.atscript {
    color: #0969da !important;
}
html.dark .shiki .variable.other.property.atscript {
    color: #79c0ff !important;
}
.shiki .support.type.primitive.extended.atscript {
    color: #d73a49 !important;
    font-style: italic;
}
html.dark .shiki .support.type.primitive.extended.atscript {
    color: #ff79c6 !important;
    font-style: italic;
}